# Core requirements
Django>=5.1.2
djangorestframework>=3.14.0

# Firebase integration
firebase-admin>=6.2.0

# Database
psycopg2>=2.9.1

#Dotenv
python-dotenv>=1.0.1

#pillow
Pillow>=9.0.0

decouple>=3.5